*{
margin: 0;
padding: 0;
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif; */
}
body{
background-color: #0F0D0D;
}
nav{
display: flex;
align-items: center;
justify-content: space-between;
position: relative;
padding:0 20px;
}
nav img{
width: 10vh;
height:10vh;
object-fit: contain;
color: #fff;
position: relative;
filter: grayscale(100%) invert(100%);

}
nav i{
font-size: 5vh;
font-weight: 200;
transition: all .55s ease;
color: #fff;
position: fixed;
mix-blend-mode: difference;
right: 15;
background-color: transparent;
z-index: 999;
}
nav i:hover{
transform: rotate(43deg);
}
.page1{
width: 100%;
height: 140vh;
overflow-x: hidden;
position: relative;
/* background-color: red; */
}
.page1 img{
width: 15vh;
height: 15vh;
right: 0;
display: block;
align-items: center;
justify-content: center;
position: relative;
margin-top: 2vh;
}
.img1{
width: 100%;
height: 10vh;
margin-left: -2vh;
}
.img2{
width: 100%;
height: 25vh;
}
.img2 img{
margin-right: -5vh;
}
.logodiv{
width: 100%;
height: 40vh;
}
.logodiv img{
width: 80vh;
height: 40vh;
filter: grayscale(100%) invert(100%);
}
.img3{
width: 100%;
height: 20vh;
margin-left: -2vh;
}
.img4{
width: 100%;
height: 10vh;
}
.img4-left{
display: flex;
align-items: center;
justify-content: space-between;
position: relative;
padding: 0 20px;

}
.img4-right{
display: flex;
align-items: center;
justify-content: center;
position: relative;
}
.img4 h3{
color: #fff;
font-weight: 300;
}
.one{
float:left;
}
.two{
float: right;
}
.three{
float: left;
margin-left: 14vh;
}
.four{
float: right;
margin-right: 5vh;
}
.logo img{
width: 40vh;
height: 40vh;
}
.page2{
height: 87vh;
width: 100%;
/* background-color: yellow; */
}
.page2 h3{
color: #fff;
padding: 0 40px;
font-weight: 300;
font-size: 6vh;
font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.page2 a{
color: #fff;
}
.page2 p{
margin-top: 10vh;
padding: 0 40px;
color: #fff;
font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.page3{
width: 100%;
height: 130vh;
}
.page3 h3{
padding: 0 40px;
color: #fff;
font-size: 6vh;
font-weight: 100;
}
.page3 a{
color: #fff;
}
.page3 p{
color: #fff;
padding: 0 40px;
margin-top: 10vh;
font-weight: 350;
}
.page4{
width: 100%;
height: 300vh;

align-items: center;
justify-content: center;
}
.page4 h3{
color: #fff;
font-size: 7vh;
font-weight: 350;
}

.title{
display: flex;
align-items: center;
justify-content: center;
position: absolute;
z-index: 999;
margin-top: -55vh;
transform: translate(40%,40%);
}
.title h3{
display: flex;
align-items: center;
justify-content: center;
position: relative;
}
.hello{
display: flex;
align-items: center;
justify-content: center;
position:relative;
z-index: 2;
}
.hello i{
color: #fff;
}
.page5{
width: 100%;
height: 200vh;
background-color: red;
}
.page5-img img{
width: 25vh;
height: 25vh;
right: 0;
display: block;
align-items: center;
justify-content: center;
position: relative;
}
.page5-img{
width: 100%;
height: 500vh;
overflow-x: hidden;
position: relative;
}
.png1{
width: 100%;
height: 40vh;
}
.png1 img{
margin-left: 20vh;
}
.png2{
width: 100%;
height: 10vh;
}
.png2 img{
margin-left: -14vh;
}
.png3{
width: 100%;
height: 33vh;
margin-left: -2vh;
}
.png3 img{
margin-left: 10vh;
}
.png4{
width: 100%;
height: 17vh;
}
.png4 img{
margin-left: 20vh;
}
.png5{
width: 100%;
height: 10vh;
}
.png5 img{
margin-left: 50vh;
}
